body{
    max-width: 960px;
    margin:auto;
    margin-top:50px;
}
#loginModal {
    width:30%;
    background-color: transparent;
    border: solid;
    border-color: slategray;
    margin: auto;padding: 20px;
}

#loginModal input{
    margin:10px;
}

#loginModal button{
    align-content: center;
}

.labels {
    margin-right: 20px;
}

#home {
    border: solid;
    border-color: darkgray;
    max-width: 80%;
}